html,body{
	font-size: 1em;
	line-height: 1.2em;
	font-family: 'montserrat', sans-serif;
	background-color:lightcyan;
	margin:0;
	padding: 0;
	height:100%;
	width:100%;
}
nav{
	text-align:right;
	background: rgba(105,105,105,0.2);
	margin: : 0 0;
	width: 100%
}

 ul{
 	width: 80%;
 	padding: 0;
 	margin: 0 auto;
 }
li{
	box-sizing: border-box;
	list-style: none;
	display: inline-block;
	padding: 15px 20px;
	margin: 0;
}
ul li a{
	color:  #4C9CF1;
	text-decoration:none;
	font-weight: bold; 
}

a:hover{
      color: yellow;
}
li:hover{
	border-bottom: 1px solid #bbb;
}
.toggle{
	background-color: #bbb;
	width: 100%;
	padding: 5px 0px;
	text-align: center;
	display: none;
}
.menu{
	font-size: 2-px;
	margin: 10px 15px;
}
.menu:hover{
	cursor: pointer;
}
#icons{
	font-size: 100px;
	display: flex;
	justify-content: center;
}
#icons a{
	color: black;
	text-decoration: none;
	cursor: pointer; 
}

#icons >*{
	margin: 0 5px;
}
#icons a:hover{
	color: white;
}
